# Arquivo gerado para ignorar arquivos desnecessários ou sensíveis

# Dependências
# A pasta node_modules é recriada com 'yarn install' e pode ter milhares de arquivos.
/node_modules
backend/node_modules
backend/yarn.lock
yarn.lock

# Arquivos de Ambiente (MUITO IMPORTANTE)
# Contém senhas e chaves de API. NUNCA envie para o GitHub!
.env
.env.*
!.env.example

# Logs
# Arquivos de log podem conter informações sensíveis e ocupar espaço.
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos de Sistema Operacional
.DS_Store
Thumbs.db

# Pastas de configuração de Editores e IDEs
.vscode/
.idea/

# Pastas de build (para o futuro, quando você gerar versões de produção)
/dist
/build
